
main {
  color: #1b1b1b;
  height: calc(99vh - 144.34px);
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 50px;
}


